<h1>Should I take an umbrella?</h1>

<div>User location</div>
<dd><%= @loc %></dd>
<div>Latitude</div>
<dd><%= @lat %></dd>
<div>Longitude</div>
<dd><%= @lng %></dd>
<div>Current temperature</div>
<dd><%= @current_temperature %></dd>
<div>Current summary</div>
<dd><%= @current_summary %></dd>
<div>Umbrella?</div>
<dd><%= @outcome %></dd>


<p><a href="/umbrella">Go back</a></p>
